# Dependencies
node_modules/

# Build output
dist/

# TypeScript
*.tsbuildinfo

# npm
.npm/
npm-debug.log*
package-lock.json.bak

# Logs
logs/
*.log
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Environment variables
.env
.env.*
!.env.example

# OS
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db
Desktop.ini

# Editor
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Temp / cache
.cache/
tmp/
temp/
*.tmp
.prettierrc.js
